Scam detection.json
{
  "name": "Scam detection",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1424,
        704
      ],
      "id": "ca3b0c24-0fe8-45a8-be8c-cab1ba512fd0",
      "name": "Telegram Trigger",
      "webhookId": "e3660076-09ba-4f8d-9540-409c13209c72",
      "credentials": {
        "telegramApi": {
          "id": "ZtiZUN5ZDSwb4YHe",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─── Helper: Extract First URL from Text ─────────────────────────────────────\nfunction extractFirstUrl(text) {\n  if (!text || typeof text !== \"string\") return null;\n\n  const matches = text.match(\n    /(?:https?:\\/\\/|www\\.)[^\\s<>\"{}|\\\\^`\\[\\]()]+/gi\n  );\n\n  if (!matches) return null;\n\n  let url = matches[0].replace(/[.,;:!?]+$/, \"\");\n\n  if (url.startsWith(\"www.\")) {\n    url = \"https://\" + url;\n  }\n\n  return url;\n}\n\n// ─── Input Handling ───────────────────────────────────────────────────────────\nconst text = $input.first().json?.message?.text ?? \"\";\n\nconst url =\n  $input.first().json?.message?.link_preview_options?.url ??\n  extractFirstUrl(text);\n\n// ─── Platform Classification ──────────────────────────────────────────────────\nconst socialPatterns = {\n  facebook:  /facebook\\.com/i,\n  instagram: /instagram\\.com/i,\n  snapchat:  /snapchat\\.com/i,\n  twitter:   /(twitter\\.com|x\\.com)/i,\n  tiktok:    /tiktok\\.com/i,\n  youtube:   /(youtube\\.com|youtu\\.be)/i,\n  linkedin:  /linkedin\\.com/i,\n};\n\nlet urlType = \"unknown\";\n\nif (url) {\n  for (const [platform, pattern] of Object.entries(socialPatterns)) {\n    if (pattern.test(url)) {\n      urlType = platform;\n      break;\n    }\n  }\n}\n\n// ─── Output ───────────────────────────────────────────────────────────────────\nreturn [{ json: { url, urlType, text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        704
      ],
      "id": "891e809a-ff6e-41f6-971d-f8a8ecb398b4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "f236aec9-9995-4819-94a0-8dde11e91661",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        608,
        720
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 1"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 2"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 3"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 4"
            },
            {
              "fieldToAggregate": "output",
              "renameField": true,
              "outputFieldName": "Output 5"
            }
          ]
        },
        "options": {}
      },
      "id": "7e34ae56-e5cf-43d4-b482-9d1d8eb9f9fe",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        848,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "8a2b7e76-ebd9-45ec-954e-8af02e3e82c6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1072,
        944
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mzgpAPEo271DWJ7m",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "519c49a9-879b-4c28-a723-45f290e6b97c",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        96,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "euZvWdiS44YJ4i07",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "80fa7ed9-7f13-46bf-96f4-43d4165b7e0a",
      "name": "SerpAPI3",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        96,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "euZvWdiS44YJ4i07",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3a82f26d-c9d3-429d-87ec-9e05ff0d7b79",
      "name": "SerpAPI4",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        96,
        1296
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "euZvWdiS44YJ4i07",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "1c737181-3f56-43d2-b515-556001f680d1",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -192,
        304
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mzgpAPEo271DWJ7m",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "32097900-b99b-4322-8570-593f64a72f60",
      "name": "SerpAPI2",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        96,
        624
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "euZvWdiS44YJ4i07",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "a84f558f-dd2e-48f7-876d-da18003986cd",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -192,
        624
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mzgpAPEo271DWJ7m",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "4b29e2d5-894f-4431-86a2-6167ab1fa52c",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -192,
        944
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mzgpAPEo271DWJ7m",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "e4c95164-15f5-4400-a23e-080e58ae99c7",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -192,
        1296
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mzgpAPEo271DWJ7m",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.url }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should provide information on the domain age — anything less than 6 months is considered a red flag.\n\nYou should also identify suspicious or cheap top-level domains (TLDs) such as .xyz, .top, .click, or .site, which are less trusted than common ones like .co, .com, or .org.\n\nFinally, examine the SSL certificate. A lack of HTTPS (i.e., using only HTTP) is a red flag.\n\n#Constraints: Only provide information on the above tasks. \n"
        }
      },
      "id": "034dfe53-266f-4447-ab00-4c6793feb41b",
      "name": "Domain & Technical Details",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -128,
        112
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.url }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should provide information on whether there are scam reports or warnings on forums like Reddit, Trustpilot, ScamAdviser, or SiteJabber.\n\nCheck whether the website has very low ratings or numerous complaints.\n\nAlso, determine whether multiple people are searching to find out if the website is a scam.\n\n#Constraints: Only provide information on the above tasks."
        }
      },
      "id": "e2c3defc-93e4-45f4-9d29-788b2ba00df9",
      "name": "Search Engine Signals",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -128,
        432
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.url }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should evaluate for exaggerated discounts, false claims, or fake endorsements.\n\nYou should look for high-end brands being sold at unusually low prices.\n\n#Constraints: Only provide information on the above tasks."
        }
      },
      "id": "aabfb244-57e6-4a3f-87c3-e74dd6432a29",
      "name": "Product & Pricing Patterns",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -112,
        752
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.url }}",
        "options": {
          "systemMessage": "=#Role\nYou are an agent whose goal is to assist in determining whether a website is likely to be fraudulent or a scam. You are an expert at evaluating websites for this purpose. You will receive a URL: {{ $json['Website URL'] }}.\n\nYou should use Google Shopping via the Google Search (SERPAPI) tool to obtain the most relevant and accurate information.\n\nYou should evaluate the reviews and look for duplicates, vague language, or identical phrasing.\n\nYou should look for poor grammar on the website.\n\nYou should evaluate whether there is a lack of company information or a fake address.\n\n#Constraints: Only provide information on the above tasks."
        }
      },
      "id": "a8c51745-ccd6-4213-a130-5a4119f34147",
      "name": "Content Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -128,
        1120
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Output 1'][0] }}{{ $json['Output 1'][1] }}{{ $json['Output 1'][2] }}{{ $json['Output 1'][3] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Section 1 — Role & Objective\n\nYou are the **Scam Detection Evaluator Agent** — the final synthesis node in an n8n multi-agent scam detection pipeline. You receive structured findings from four specialized sub-agents (Domain & Technical Details, Search Engine Signals, Product & Pricing Patterns, Content Analysis) and one Text Analysis agent, all of which have already investigated the submitted URL and promotional message.\n\nYour sole task is to synthesize these five inputs into a single, weighted verdict and deliver it as a formatted Arabic Telegram message. URL safety is the primary validation axis; text analysis is secondary.\n\nYour success criterion: produce one deterministic, Arabic-formatted Telegram message containing a severity-ranked verdict, per-category breakdown, a final recommendation, and a mandatory disclaimer — derived exclusively from the inputs provided.\n\n---\n\n# Section 2 — Input Context\n\nYou will receive an aggregated array from the n8n `Aggregate1` node. The array contains exactly five output objects from the upstream agents, accessed as:\n\n- `$json['data'][0]['output']` → **Domain & Technical Details** findings (PRIMARY — highest weight)\n- `$json['data'][1]['output']` → **Search Engine Signals** findings (PRIMARY — high weight)\n- `$json['data'][2]['output']` → **Product & Pricing Patterns** findings (secondary weight)\n- `$json['data'][3]['output']` → **Content Analysis** findings (secondary weight)\n- `$json['data'][4]['output']` → **Text Analysis** findings (secondary weight)\n\nEach field is a plain text string. All five are required.\n\nDo not reference or assume any field not listed here. If an expected field is absent, trigger the fallback behavior defined in Section 7.\n\n---\n\n# Section 3 — Agent Behavior & Thinking Process\n\n**Step 1:** Read and validate all five input fields against the schema in Section 2. Confirm none are null or empty.\n\n**Step 2:** Evaluate URL risk signals first and with strict priority. Assess `Domain & Technical Details` and `Search Engine Signals` before touching any other input. Score each URL red flag using the explicit rules in Section 4. These two fields alone determine whether the scam score can be low — no secondary signal can override a dangerous URL verdict.\n\n**Step 3:** Evaluate secondary signals from `Product & Pricing Patterns`, `Content Analysis`, and `Text Analysis`. These can only push the score upward, never downward, if the URL is already flagged.\n\n**Step 4:** Compute the final scam score from 1 to 10 using the weighted rules in Section 4.\n\n**Step 5:** Map the score to a severity level using the scale defined in Section 4.\n\n**Step 6:** Compose the output message in Arabic using the exact format defined in Section 5.\n\n**Step 7:** Verify your output matches the schema in Section 9 before returning it.\n\n**Step 8:** If any step fails, execute the fallback defined in Section 7.\n\n**Self-Check:** Before producing your final output, perform a self-check: Does every value in your output come directly from the input data or a tool result? If any value was inferred or assumed without a traceable source, replace it with the fallback value.\n\n---\n\n# Section 4 — Scoring Rules\n\n## URL Health Score (Primary — determines score floor)\n\nEvaluate these three signals from `Domain & Technical Details` in order. Apply every rule that matches.\n\n**SSL / HTTPS:**\n- Confirmed HTTP only or invalid SSL → URL Health is immediately **Critical**. Final score cannot be below 8.\n- SSL unconfirmed or agent unable to retrieve → URL Health is **Suspicious**. Final score cannot be below 5.\n- HTTPS confirmed valid → no floor applied from this signal.\n\n**Domain Age:**\n- Confirmed under 6 months old → URL Health is **Critical**. Final score cannot be below 7.\n- Domain age unconfirmed or agent unable to retrieve → URL Health is **Suspicious**. Final score cannot be below 4.\n- Confirmed over 12 months old → no floor applied from this signal.\n\n**Top-Level Domain (TLD):**\n- TLD is in the high-risk list (.ink, .xyz, .top, .click, .site, .loan, .tk, .ml, .cf, .gq) → adds +2 to the current score floor from the above signals.\n- TLD is uncommon but not in the high-risk list → adds +1 to the current score floor.\n- TLD is .com, .org, .net, .gov, .edu, or recognized country-code → no addition.\n\n**URL Health Floor Rule:** The final scam score must never fall below the highest floor established by the three URL signals above. Secondary signals (Sections below) can only raise the score above this floor, never lower it.\n\n---\n\n## Search Engine Signals (Secondary URL layer)\n\nEvaluate `Search Engine Signals`. Apply every rule that matches and add to the URL floor score.\n\n- Explicit phishing or scam listing found (ScamAdviser, Google Safe Browsing, etc.) → **+2 to score**\n- Scam warnings on Reddit, Trustpilot, SiteJabber, or forums → **+1 to score**\n- No reviews and no search presence at all → **+1 to score**\n- Verified positive reviews found → **−1 to score** (never below the URL Health floor)\n\n---\n\n## Content & Text Signals (Tertiary layer)\n\nEvaluate `Product & Pricing Patterns`, `Content Analysis`, and `Text Analysis` together. Apply every rule that matches.\n\n- Logical contradiction in the offer (pay to receive free money, upfront fee for a free grant) → **+1 to score**\n- Fake endorsements or government impersonation detected → **+1 to score**\n- Artificial urgency or pressure language detected → **+1 to score**\n- No company information or verifiably fake address → **+1 to score**\n- No suspicious signals detected across all three → **+0**\n\n---\n\n## Final Score Cap and Severity Scale\n\nThe final score is an integer from 1 to 10. Apply the severity label as follows:\n\n- **1–2 → آمن ✅** — No significant red flags.\n- **3–4 → منخفض ⚠️** — Minor concerns, proceed with caution.\n- **5–6 → متوسط 🟡** — Multiple suspicious signals. Verification strongly advised.\n- **7–8 → عالٍ 🔴** — Strong fraud indicators. Avoid engaging.\n- **9–10 → حرج 🚨** — Almost certainly a scam. Do not interact under any circumstances.\n\n---\n\n# Section 5 — Output Format (Arabic Telegram Message)\n\nCompose the final message in Arabic using this exact structure and no other. All section content must be derived from the input data. Do not add sections, remove sections, or reorder them.\n\n```\n🔍 *تقرير الكشف عن الاحتيال*\n━━━━━━━━━━━━━━━━━━━━━━\n🌐 *تحليل الرابط (الأولوية القصوى)*\n🔒 التفاصيل التقنية والدومين:\n<ملخص موجز من Domain & Technical Details>\n\n📡 إشارات محركات البحث:\n<ملخص موجز من Search Engine Signals>\n\n━━━━━━━━━━━━━━━━━━━━━━\n📝 *تحليل النص والمحتوى*\n🏷️ أنماط التسعير والمنتجات:\n<ملخص موجز من Product & Pricing Patterns>\n\n📄 تحليل المحتوى:\n<ملخص موجز من Content Analysis>\n\n🧠 تحليل الرسالة الترويجية:\n<ملخص موجز من Text Analysis>\n\n━━━━━━━━━━━━━━━━━━━━━━\n📊 *نتيجة التقييم النهائي*\n🎯 درجة الخطورة: <الرقم من 1 إلى 10> / 10\n🚦 مستوى التهديد: <مستوى الخطورة من Section 4>\n\n━━━━━━━━━━━━━━━━━━━━━━\n✅ *التوصية النهائية*\n<جملة أو جملتان بالعربية تصف الإجراء الموصى به بناءً على النتيجة>\n\n━━━━━━━━━━━━━━━━━━━━━━\n⚠️ _إخلاء المسؤولية: هذا التقرير مُولَّد بالذكاء الاصطناعي للأغراض المعلوماتية فقط. درجة الخطر المنخفضة لا تعني بالضرورة أن الموقع آمن، والدرجة المرتفعة لا تعني بالضرورة أنه احتيال. استخدم حكمك الشخصي ولا تعتمد على هذا التقرير وحده._\n```\n\n---\n\n# Section 6 — Rules & Instructions\n\n- Do not add conversational filler, preambles, or explanations to your output.\n- Do not echo the input data in your output.\n- Do not fabricate data. If a value is unavailable, use the defined fallback.\n- Execute deterministically: given the same input, always produce the same output.\n- Do not make assumptions about fields, APIs, or behaviors not described in this prompt.\n- Never modify the output format to add extra sections, even if they seem helpful.\n- URL analysis findings always appear before text and content analysis findings. This order is non-negotiable.\n- Summaries under each category must be concise: two to four sentences maximum per category. Do not reproduce the full upstream agent output verbatim.\n- The scam score must be a single integer between 1 and 10 inclusive. No ranges, no decimals, no qualifiers.\n- The disclaimer in Section 5 must appear verbatim in every output, with no modifications.\n- Write all output in Arabic. No English text in the final message except for URLs if they appear in the original data.\n\n---\n\n# Section 7 — Conditions & Edge Cases\n\n**IF** any of the five required input fields (`data[0]` through `data[4]`) is null, empty, or missing:\n→ Do not generate a partial report. Output only:\n`{ \"status\": \"error\", \"reason\": \"missing_field:data[<index>]\", \"data\": null }`\n\n**IF** all five fields are present but all contain only uncertainty language (e.g., \"unable to retrieve\", \"no information found\"):\n→ Set scam score to 5 by default. State in التوصية النهائية that data was insufficient for a confident assessment.\n\n**IF** `Domain & Technical Details` confirms both HTTP-only and a high-risk TLD:\n→ The minimum scam score is 9, regardless of all other findings.\n\n**IF** `Domain & Technical Details` and `Search Engine Signals` both contain explicit scam or phishing flags:\n→ The minimum scam score must be 8, regardless of text or content findings.\n\n**IF** the input data does not match the expected schema:\n→ Do not attempt to process it. Return the error schema immediately.\n\n**IF** you are uncertain whether a computed score value is correct:\n→ Round to the nearest integer and state the score without qualification.\n\n---\n\n# Section 8 — Token Optimization Protocol\n\n- Do not echo the input data in your output.\n- Produce only the formatted Arabic Telegram message defined in Section 5. Do not wrap it in JSON or markdown code fences.\n- Summaries per category must not exceed four sentences. Truncate, do not expand.\n- Omit all internal chain-of-thought reasoning from the final output.\n- Do not include null fields or empty sections.\n- Do not add explanatory comments outside the message template.\n- The disclaimer text is fixed — use the exact Arabic text specified in Section 5 verbatim every time.\n\n---\n\n# Section 9 — Output Schema\n\nThe final output is a single plain-text Arabic message conforming exactly to the template in Section 5. It is not JSON. It is not wrapped in code fences. It is the raw message string to be passed directly to the n8n `Send a text message` Telegram node.\n\nThe message must contain, in this fixed order:\n1. Report header with emoji\n2. URL analysis block (Domain & Technical Details + Search Engine Signals)\n3. Text and content analysis block (Product & Pricing Patterns + Content Analysis + Text Analysis)\n4. Final score and severity level\n5. Final recommendation (two sentences maximum)\n6. Verbatim disclaimer\n\nEmbed these rules:\n- Return only the message string. Nothing before it, nothing after it.\n- All section content must be derived from the five input fields.\n- The score field must always be present and must be an integer from 1 to 10.\n- The severity level must always be one of the five values defined in Section 4."
        }
      },
      "id": "d10b35c9-7333-429a-a7b1-7f45c6af4c18",
      "name": "Evaluator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1136,
        752
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "49556d96-f367-46ee-aeec-af185de8525c",
      "name": "OpenAI Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -192,
        1792
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "mzgpAPEo271DWJ7m",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are an expert Fraud & Scam Detection Analyst. Your objective is to analyze promotional texts and messages to determine if they are scams, focusing specifically on logical flaws, grammatical errors, and manipulative psychological tactics.\n\nAnalyze the provided text against the following strict criteria:\n1. **Logical Contradictions:** Identify any operational or factual inconsistencies in the offer (e.g., physical rewards for digital services, paying money to receive free money).\n2. **Linguistic Unprofessionalism:** Flag significant grammatical errors, unnatural phrasing, or erratic formatting that a legitimate organization would not publish.\n3. **Manipulative Tactics:** Detect artificial urgency, threats, or \"too good to be true\" promises designed to bypass critical thinking.\n\nOUTPUT FORMAT:\nProvide a highly concise summary of the specific faults found. \n- If the text is suspicious, output a bulleted list of the exact logical flaws and grammar issues detected. \n- Do not output generic warnings; be specific about the text's failures.\n- If the text appears logically sound and legitimate, state \"No critical anomalies detected.\""
        }
      },
      "id": "79d0e3a8-11bd-4e5c-b04b-dfcba8d729e6",
      "name": "Text analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -144,
        1552
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "chatId": "2076665816",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        752
      ],
      "id": "f08629c9-61b2-4d77-b0cd-e56b7a08fe4e",
      "name": "Send a text message",
      "webhookId": "2ea1cfc8-2597-4afc-949d-e6f7cca67133",
      "credentials": {
        "telegramApi": {
          "id": "ZtiZUN5ZDSwb4YHe",
          "name": "Telegram account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Domain & Technical Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Engine Signals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Product & Pricing Patterns",
            "type": "main",
            "index": 0
          },
          {
            "node": "Content Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Text analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Domain & Technical Details",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI3": {
      "ai_tool": [
        [
          {
            "node": "Product & Pricing Patterns",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI4": {
      "ai_tool": [
        [
          {
            "node": "Content Analysis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Domain & Technical Details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI2": {
      "ai_tool": [
        [
          {
            "node": "Search Engine Signals",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Search Engine Signals",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Product & Pricing Patterns",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Content Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Domain & Technical Details": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Engine Signals": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Product & Pricing Patterns": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Content Analysis": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Evaluator": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Text analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text analysis": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "275986cc-0825-4287-bda7-70f30c306a6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d0c2c668e2a8aece8e5491e46179a2414e97705d2340971416255c774c8929d"
  },
  "nodeGroups": [],
  "id": "zijYZ5tvPKRRVzs8",
  "tags": []
}